
/VocalTrainer-Console/VocalTrainer-Console/bin
/VocalTrainer-Console/VocalTrainer-Console/obj
/VocalTrainer-Console/VocalTrainer-Console/StyleCop.Cache
/VocalTrainer-Metro/VokabelTrainer/VocalTrainer-Metro/obj
/VocalTrainer-Metro/VokabelTrainer/VocalTrainer-Metro/bin
/Common/obj
/VocabTrainer_Phone/obj
/VocabTrainerPhoneApp/obj
